%h2.app-sub-titlec New Comment
.container
  %ul
    - @comment.errors.full_messages.each do |message|
      %li= message
  = form_with(model: @comment, url: board_task_comments_path(@task,@board),method: 'post', local: true) do |f|
    %div
      = f.text_area :comment,class:"comment-box"
    = f.submit 'Submit',class:"submit-btnc"