%h2.app-sub-title
  = @board.title
- @tasks.each do |task|
  = render 'task',task: task, comment: task.comments
 
%div.add-card
  %p.add-text
    = link_to '+ Add new task' , new_board_task_path(@board)