.description {

position: relative;
width: 335px;
height: auto;
left: 20px;
top: 100px;
background: #F4F4F4;
border-radius: 10px;
margin-top: 10px;

}

.comment_notice {

position: relative;
left: 260px;
top: 40px;
width:30px;
height:auto;




}

    
    
    
    
    