@import './board';
@import './btn';
@import 'form';
@import 'link';
@import 'profile';
@import 'index';
@import 'edit_prof';
@import 'about';

.app-title {
position: absolute;
width: 90px;
height: 25px;
left: 25px;
top: 23px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #000000;

}

.app-sub-title {
position: absolute;
height: 36px;
width:170px;
left: 26px;
top: 80px;

font-family: Avenir;
font-style: normal;
font-weight: 800px;
font-size: 26px;
line-height: 36px;

color: #000000;

overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;

}

.line {
position: absolute;
width: 375px;
height: 1px;
top: 58px;
opacity: 0.3; 

}

.png {

position: absolute;
width: 40px;
height: 40px;
left: 322px;
top: -4px;
border-radius: 999px;
background: url(app/assets/images/prof-avatar.png);
border-color: none;

}

.content {
  position: relative;
  height: 19px;
  left: 10%;
  width:100%;
  right: 0%;
  top: -24px;
  
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  
  color: #000000;
  
  mix-blend-mode: normal;
  opacity: 0.4;

}

.flash {
  position: fixed;
  top: 16px;
  font-size: 12px;
  right: 50px;
  width: 150px;
  background: white;
  -webkit-animation: fade-in-out;
  animation: fade-in-out;
  visibility: hidden;
  z-index: 1;
  padding: 16px;
  animation-duration: 2s;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

@-webkit-keyframes fade-in-out {
  0% {
    visibility: visible;
    opacity: 1;
  }

  50% {
    visibility: visible;
    opacity: 1;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-in-out {
  0% {
    visibility: visible;
    opacity: 1;
  }

  50% {
    visibility: visible;
    opacity: 1;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}

.errormsg {

position: absolute;
width: 350px;
height: 25px;
left: 25px;
top: 120px;
color:red;

}

.eyecatch-png {

position: relative;
width: 300px;
height: 150px;
left: 11px;
top: 15px;
border: none;
border-radius: 16px;

}

.comment-png {

position: relative;
width: 20px;
height: 20px;
left: 280px;
top: -30px;

}

.show-eyecatch {

position: relative;
width: 335px;
margin-left: 20px;
margin-right:20px;
height: auto;
left: 0px;
top: 100px;
border-radius: 16px;

}