.boards {
position: absolute;
width: 56px;
height: 25px;
left: 26px;
top: 5px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #000000;

}

.notice {
position: absolute;
height: 36px;
width:300px;
left: 26px;
right: 0%;
top: calc(14% - 36px/2);

font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 26px;
line-height: 36px;

color: #000000;

}

.style1 {
position: absolute;
width: 375px;
height: 1px;
left: 0px;
top: 58px;

background: #000000;
mix-blend-mode: normal;
opacity: 0.1; 

}

.email {
position: absolute;
width: 362px;
height: 25px;
left: 26px;
top: 161px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #000000;

}

.emailbox {
position: absolute;
width: 322px;
height: 40px;
left: 26px;
right: 26px;
top: 190px;

background: #F4F4F4;
border-radius: 10px;
border:none;

}

.password {
position: absolute;
width: 76px;
height: 25px;
left: 26px;
top: 253px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #000000;

}

.passwordbox {
position: absolute;
width: 322px;
height: 40px;
left: 26px;
right: 26px;
top: 285px;

background: #F4F4F4;
border-radius: 10px;
border: none;

}

.pass-conf {
position: absolute;
width: 186px;
height: 25px;
left: 26px;
top: 351px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #000000;

}

.pass-confbox {
position: absolute;
width: 322px;
height: 40px;
left: 26px;
right: 26px;

top: 385px;

background: #F4F4F4;
border-radius: 10px;
border: none;

}

.submit-btn {
position: absolute;
width: 322px;
height: 40px;
left: 26px;
right: 26px;
top: 750px;

background: #F8BD1C;
border-radius: 4px;
border: none;

color: #FFFFFF;
font-weight: 800;
}

.signin {
position: absolute;
width: 76px;
height: 25px;
left: 26px;
top: 483px;

font-family: Avenir;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;

color: gray;

}

.signup {
  position: absolute;
  width: 76px;
  height: 25px;
  left: 26px;
  top: 503px;
  
  font-family: Avenir;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  
  color: gray;
  
  }



.remember {
position: absolute;
width: 300px;
height: 25px;
left: 26px;
top: 383px;

font-family: Avenir;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;

color: gray;

}

.png {

position: relative;
width: 40px;
height: 40px;
left: 312px;
top: 12px;
border-radius: 999px;
background: url(app/assets/images/default-avatar2.png);

}

.dropbtn {
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}
  
.dropdown-content {
  font-family: Avenir;
  display: none;
  right: -367px;
  top:60px;
  position: absolute;
  background-color: white;
  min-width: 160px;
  height:auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
  
.dropdown-content a {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  color: black;
}
  
.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.forgotpw {
  position: absolute;
  width: 350px;
  height: 25px;
  left: 26px;
  top: 470px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: gray;

}

.login-btn {
  position: relative;
  width: 60px;
  height: 60px;
  left: 300px;
  top: 20px;

  background: green;
  border-radius: 4px;
  border: none;

  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
}




