.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
font-family: Avenir;
display: none;
right: -367px;
top:60px;
position: absolute;
background-color: white;
min-width: 80px;
height:auto;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;
border-radius: 5px;
}

.dropdown-content a {
padding: 8px 16px;
text-decoration: none;
display: block;
color: black;
position: relative;
}

.dropdown-content a:hover {
background-color: white;
}

.dropdown:hover .dropdown-content {
display: block;
}

.dropbtn2 {
border: none;

}

.dropdown-content2 {
font-family: Avenir;
display: none;
right: -217px;
top:-130px;
position: relative;
background-color: white;
min-width: 90px;
height:auto;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;
border-radius: 10px;
}

.dropdown-content2 a {
padding: 8px 16px;
text-decoration: none;
display: block;
color: black;
}

.dropdown-content2 a:hover {
background-color: white;
}

.dropdown:hover .dropdown-content2 {
display: block;
}

.card {
position: relative;
width: 342px;
height: 171px;
left: 18px;
top: 175px;
background: #F4F4F4;
border-radius: 10px;

}

.text {
position: relative;
height: 25px;
left: 0%;
right: 80.79%;
top: calc(70% - 25px/2 - 12.5px);

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
color: #000000;
}

.content {
position: relative;
height: 19px;
left: 0%;
right: 0%;
top: calc(50% - 19px/2 + 15.5px);

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;

color: #000000;

mix-blend-mode: normal;
opacity: 0.4;

}

.username {
position: relative;
height: 19px;
left: 50px;
right: 0%;
top: 36px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;

color: #000000;

mix-blend-mode: normal;
opacity: 0.4;

}

.time2 {

position: relative;
height: 19px;
left:80px;
right: 0%;
top: -10px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;

color: #000000;

mix-blend-mode: normal;
opacity: 0.4;

}

.post {
position: relative;
height: 19px;
left:10%;
right: 0%;
top: 20px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;

color: #000000;

mix-blend-mode: normal;
opacity: 0.4;

}

.mark {
position: relative;
height: 19px;
left:10%;
right: 0%;
top: 56px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;

color: #000000;

mix-blend-mode: normal;
opacity: 0.4;

}


.update {

position: relative;
height: 19px;
left:6%;
top: 10px;
font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;

color: #000000;

mix-blend-mode: normal;
opacity: 0.4;

}




.title {
position: relative;
height: 25px;
left: 10%;
width:30%;
right: 76.79%;
top: -24px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
/* identical to box height */


color: #000000;

}


