.email {
position: relative;
width: 362px;
height: 25px;
left: 26px;
top: 101px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #000000;

}

.emailbox {
position: relative;
width: 322px;
height: 40px;
left: 26px;
right: 26px;
top: 120px;

background: #F4F4F4;
border-radius: 10px;
border:none;

}

.password {
position: relative;
width: 120px;
height: 25px;
left: 26px;
top: 148px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #000000;

}

.passwordbox {
position: relative;
width: 322px;
height: 40px;
left: 26px;
right: 26px;
top: 155px;

background: #F4F4F4;
border-radius: 10px;
border: none;

}

.pass-conf {
position: relative;
width: 186px;
height: 25px;
left: 26px;
top: 191px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #000000;

}

.pass-confbox {
position: relative;
width: 322px;
height: 40px;
left: 26px;
right: 26px;

top: 205px;

background: #F4F4F4;
border-radius: 10px;
border: none;

}

.name-box {
position: relative;
width: 322px;
height: 40px;
left: 26px;
top: 100px;

background: #F4F4F4;
border-radius: 10px;
border:none;

}

.name-boxn {

position: relative;
width: 322px;
height: 40px;
left: 26px;
top: 110px;

background: #F4F4F4;
border-radius: 10px;
border:none;

    }

.desc-box {
position: relative;
width: 322px;
height: 60px;
left: 26px;
top: 120px;

background: #F4F4F4;
border-radius: 10px;
border:none;

}

.desc-boxn {
position: relative;
width: 322px;
height: 240px;
left: 26px;
top: 200px;

background: #F4F4F4;
border-radius: 10px;
border:none;
    
    }

.label-name2 {
position: relative;
width: 49px;
height: 25px;
left: 26px;
top: 90px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
/* identical to box height */


color: #000000;


}

.label-name {

position: relative;
width: 49px;
height: 25px;
left: 26px;
top: 20px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
/* identical to box height */


color: #000000;


}

.label-namen {

position: relative;
width: 49px;
height: 25px;
left: 26px;
top: 100px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
/* identical to box height */


color: #000000;
    
    
    }

.label-desc {
position: relative;
width: 92px;
height: 15px;
left: 26px;
top: 120px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
/* identical to box height */


color: #000000;

}


.label-descn {
position: relative;
width: 140px;
height: 15px;
left: 26px;
top: 170px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
/* identical to box height */


color: #000000;
    
    }

.label-deadline {
position: relative;
width: 92px;
height: 25px;
left: 26px;
top: 150px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
/* identical to box height */

color: #000000;

}

.deadline-box {

position: relative;
width: 322px;
height: 40px;
left: 26px;
top: 160px;

background: #F4F4F4;
border-radius: 10px;
border:none;

}

.label-eyecatch {


position: relative;
width: 120px;
height: 25px;
left: 26px;
top: 80px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
/* identical to box height */

color: #000000;

}

.eyecatch-box {


position: relative;
width: 322px;
height: 40px;
left: 26px;
top: 90px;
border:none;

}

.label-cont {
position: relative;
width: 92px;
height: 25px;
left: 26px;
top: 130px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
/* identical to box height */


color: #000000;

}

.cont-box {

position: relative;
width: 322px;
height: 140px;
left: 26px;
top: 140px;

background: #F4F4F4;
border-radius: 10px;
border:none;

}

