.email {
position: absolute;
width: 362px;
height: 25px;
left: 26px;
top: 161px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #000000;

}

.emailbox {
position: absolute;
width: 322px;
height: 40px;
left: 26px;
right: 26px;
top: 190px;

background: #F4F4F4;
border-radius: 10px;
border:none;

}

.password {
position: absolute;
width: 120px;
height: 25px;
left: 26px;
top: 253px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #000000;

}

.passwordbox {
position: absolute;
width: 322px;
height: 40px;
left: 26px;
right: 26px;
top: 285px;

background: #F4F4F4;
border-radius: 10px;
border: none;

}

.pass-conf {
position: absolute;
width: 186px;
height: 25px;
left: 26px;
top: 351px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #000000;

}

.pass-confbox {
position: absolute;
width: 322px;
height: 40px;
left: 26px;
right: 26px;

top: 385px;

background: #F4F4F4;
border-radius: 10px;
border: none;

}

.name-box {
position: absolute;
width: 322px;
height: 40px;
left: 26px;
top: 190px;

background: #F4F4F4;
border-radius: 10px;
border:none;

}

.desc-box {
position: absolute;
width: 322px;
height: 203px;
left: 26px;
top: 296px;

background: #F4F4F4;
border-radius: 10px;
border:none;

}

.label-name {
position: absolute;
width: 49px;
height: 25px;
left: 26px;
top: 157px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
/* identical to box height */


color: #000000;


}

.label-desc {
position: absolute;
width: 92px;
height: 25px;
left: 26px;
top: 263px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
/* identical to box height */


color: #000000;

}

.label-deadline {
position: absolute;
width: 92px;
height: 25px;
left: 26px;
top: 530px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
/* identical to box height */

color: #000000;

}

.deadline-box {

position: absolute;
width: 322px;
height: 40px;
left: 26px;
top: 570px;

background: #F4F4F4;
border-radius: 10px;
border:none;

}

