.cardi {
position: relative;
width: 322px;
height: 171px;
left: 26px;
top: 100px;
background: #F4F4F4;
border-radius: 10px;
margin-top: 10px;

}

.marki {
position: relative;
height: 19px;
left:4%;
right: 0%;
top: 56px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;

color: #000000;

mix-blend-mode: normal;
opacity: 0.4;

}

.usernamei {
position: relative;
height: 19px;
left: 30px;
top: 36px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;

color: #000000;

mix-blend-mode: normal;
opacity: 0.4;

}

.titlei {
position: relative;
height: 25px;
left: 4%;
width:30%;
right: 76.79%;
top: -24px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #000000;

}

.contenti {
position: relative;
height: 19px;
left: 4%;
top: -24px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;

color: #000000;

mix-blend-mode: normal;
opacity: 0.4;

}

.posti {
position: relative;
height: 19px;
left:4%;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;

color: #000000;

mix-blend-mode: normal;
opacity: 0.4;

}

.time1i {

position: relative;
height: 19px;
left:70px;
top: -18px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;

color: #000000;

mix-blend-mode: normal;
opacity: 0.4;

}

.updatei {

position: relative;
height: 19px;
left:4%;
top: -20px;
font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;

color: #000000;

mix-blend-mode: normal;
opacity: 0.4;

}

.time2i {

position: relative;
height: 19px;
left:70px;
top: -38px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;

color: #000000;

mix-blend-mode: normal;
opacity: 0.4;

}

.owner-png {

position: relative;
width: 40px;
height: 40px;
left: 20px;
top: -35px;
border-radius: 999px;

}

.btn-pngi {

position: relative;
width: 24px;
height: 6px;
left: 230px;
top: -140px;
border: none;

}

.dropdowni {
position: absolute;
display: inline-block;
    }



.dropdown-contenti {
font-family: Avenir;
display: none;
left: 200px;
top: -90px;
position: absolute;
background-color: white;
min-width: 80px;
height:auto;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;
border-radius: 10px;
}

.dropdown-contenti a {
padding: 8px 16px;
text-decoration: none;
display: block;
color: black;
}

.dropdown-contenti a:hover {
background-color: white;
}

.dropdowni:hover .dropdown-contenti {
display: block;
}

.add-text {
position: absolute;
height: 25px;
left: 0.35%;
right: 0.35%;
top: calc(50% - 25px/2);

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
/* identical to box height */

text-align: center;

color: #000000;
    
}

.add-text a {
text-decoration: none;
color:#000000;

}

.add-text :hover {
color:gray;
}

.add-card {
position: relative;
width: 322px;
height: 171px;
top:120px;
left: 26px;
background: #FFFFFF;
border: 1px dashed rgba(0, 0, 0, 0.2);
border-radius: 10px;
}




















