.signin {
position: absolute;
width: 76px;
height: 25px;
left: 26px;
top: 483px;

font-family: Avenir;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;

color: gray;

}

.signup {
    position: absolute;
    width: 76px;
    height: 25px;
    left: 26px;
    top: 503px;
    
    font-family: Avenir;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    
    color: gray;
    
    }



.remember-box {
position: absolute;
width: 20px;
height: 20px;
left: 26px;
top: 342px;

font-family: Avenir;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;

color: gray;

}

.remember-msg {
position: absolute;
width: 300px;
height: 25px;
left: 56px;
top: 343px;

font-family: Avenir;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;

color: gray;
    
    }


.forgotpw {
position: absolute;
width: 350px;
height: 25px;
left: 27px;
top: 390px;
font-family: Avenir;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
color: gray;

}