.boards {
position: absolute;
width: 56px;
height: 25px;
left: 26px;
top: 5px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #000000;

}

.notice {
position: absolute;
height: 36px;
left: 26px;
right: 42.73%;
top: calc(13% - 36px/2);

font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 26px;
line-height: 36px;

color: #000000;

}

.style1 {
position: absolute;
width: 375px;
height: 1px;
left: 0px;
top: 58px;

background: #000000;
mix-blend-mode: normal;
opacity: 0.1; 

}

.email {
position: absolute;
width: 362px;
height: 25px;
left: 26px;
top: 151px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #000000;

}

.emailbox {
position: absolute;
width: 342px;
height: 40px;
left: 26px;
right: 26px;
top: 180px;

background: #F4F4F4;
border-radius: 10px;
border:none;

}

.password {
position: absolute;
width: 76px;
height: 25px;
left: 26px;
top: 263px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #000000;

}

.passwordbox {
position: absolute;
width: 342px;
height: 40px;
left: 26px;
right: 26px;
top: 295px;

background: #F4F4F4;
border-radius: 10px;
border: none;

}

.pass-conf {
position: absolute;
width: 186px;
height: 25px;
left: 26px;
top: 351px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #000000;

}

.pass-confbox {
position: absolute;
width: 342px;
height: 40px;
left: 26px;
right: 26px;

top: 385px;

background: #F4F4F4;
border-radius: 10px;
border: none;

}

.submit-btn {
position: absolute;
width: 362px;
height: 40px;
left: 26px;
top: 889px;

background: #F8BD1C;
border-radius: 4px;
transform: matrix(1, 0, 0, -1, 0, 0);

}

.signin {
position: absolute;
width: 76px;
height: 25px;
left: 26px;
top: 443px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #000000;

}




