.boards {
position: absolute;
width: 56px;
height: 25px;
left: 30px;
top: 17px;

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #000000;

}

.notice {




    
}


